<section id="bio">
<div class="container">
  <h3>Bio</h3>
  <div class="panel panel-default">
    <div class="panel-body">
        <h3>
        
        My name is Justin Buchanan and I'm currently a student at Georgia Tech studying Computer Science.
        My coursework includes robotics, networking, digital design, algorithms, and machine learning.
        I am graduating this coming May (2016), after which I will start working for Google fulltime.
        
        </br>
        </br>
        
        I am very interested in robotics and am currently the Software Lead for the Georgia Tech RoboCup Team, which competes annually in an international autonomous robot soccer tournament.  My current role involves guiding the team's software goals and development as well as training new members on the technologies involved.  Our software challenges include multi-robot coordination, path-planning and motion control, low-level device firmware, and radio communication.

        </br>
        </br>

        My work experience over the past several years includes:
        <ul>
            <li>Intern on Apple's iOS Apps and Frameworks Team in Cupertino, CA</li>
            <li>VP of Engineering at BluMenlo, an Atlanta-based healthcare startup</li>
            <li>Intern on Google's Prospective Search Team in NYC, NY</li>
        </ul>

        </br>

        I thoroughly enjoy learning new technologies and often explore new languages and frameworks in my free time.  Many of these projects can be found on my <a href=http://github.com/justbuchanan>github profile</a>.  I plan to work for companies in the software/robotics industry and hope to eventually start my own company.

        </h3>

    </div>
  </div>
</div>
</section>
