<section id="contact">
<div class="container">
  <h3>Contact</h3>
  <div class="panel panel-default">
    <div class="panel-body">

        <h5>Please feel free to contact me through this form or the social media links below.  I look forward to hearing from you!</h5>

        <div id="contact-area">
            
            <form method="post" action="https://formspree.io/justbuchanan@gmail.com">
                <input type="text" name="Name" placeholder="Name" id="Name" />
                <input type="text" name="Email" placeholder="Email" id="Email" />
                <textarea name="Message" placeholder="Message" rows="20" cols="20" id="Message"></textarea>

                <div style="clear: both;"></div>

                <input type="submit" name="submit" value="Submit" class="submit-button" />
            </form>
            
            <div style="clear: both;"></div>
            
        </div>

    </div>
  </div>
  {% include social.html %}
</div>
</section>
