<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{ site.baseurl }}/"><i class="fa fa-home"></i></a>
    </div>
    <div id="navbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{{ site.baseurl }}/">home</a></li>
        <li><a href="{{ site.baseurl }}bio.html">bio</a></li>
        <li><a href="{{ site.baseurl }}static/resume.pdf">resume</a></li>
        <li><a href="{{ site.baseurl }}projects.html">projects</a></li>
      </ul>
    </div>
  </div>
</nav>