<section id="projects">
<div class="container">
  <h3>Projects</h3>
  <div class="panel panel-default">
    <div class="panel-body">
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/robojackets/robocup-software">RoboCup Software</a></strong>
			I have led the Georgia Tech RoboCup software team for the past 3 years.  We compete annually in an international autonomous robot soccer tournament.  Software challenges include multi-robot coordination, path-planning and motion control, low-level device firmware, and radio communication.
		</h5>

		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/justbuchanan/stylize">Stylize</a></strong>
			Stylize is a code-formatting tool that makes it easy to quickly format all files in a project according to a style configuration file.  It parallelizes formatting for maximum speed and includes features for working with projects tracked with git.
		</h5>

		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/justbuchanan/gofigure">Go Figure</a></strong>
			Go Figure is an <a href="https://en.wikipedia.org/wiki/Reverse_Polish_notation">RPN</a> calculator app for iOS.  It features a rearrangeable stack and support for <a href="https://en.wikipedia.org/wiki/Significant_figures">significant figures</a>.  It was downloaded by over 1000 users on the App Store.
		</h5>

		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/justbuchanan/trigsolv">TrigSolv</a></strong>
			TrigSolv is a geometry-solving app for iOS designed for engineers and students.  It features the ability to calculate missing parameters of all the basic geometric shapes given the other parameters.  For example, given the three side lengths of a triangle, it will calculate the angles, perimeter, and area and display a labelled drawing of it.  It was downloaded by several thousand users on the App Store.
		</h5>

		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/team3344">FIRST Robotics</a></strong>
			In high school, I was the software lead for our FIRST Robotics FRC and FTC teams.  We built robots that picked up objects on the game field and placed them into marked bins to score points.
		</h5>

		<!-- <h5>
			<i class="fa fa-cog"></i>&nbsp;&nbsp;<strong><a href="#">Project 7</a></strong>
			- Essent putant indoctum sed in, reprimique persequeris neglegentur te quo. Nam rebum
			tractatos partiendo at, debet ubique oporteat ut his.
		</h5> -->

    </div>
  </div>
</div>
</section>
