<div class="social">
	<h4>
    {% if site.github %}
	  <a title="GitHub" href="http://github.com/{{ site.github }}"><i class="fa fa-github"></i></a>
    {% endif %}
    {% if site.email %}
	  <a title="Email" href="mailto:{{ site.email }}"><i class="fa fa-envelope"></i></a>
    {% endif %}

    {% if site.twitter %}
	  <a title="Twitter" href="http://twitter.com/{{ site.twitter }}"><i class="fa fa-twitter"></i></a>
    {% endif %}
    {% if site.linkedin %}
	  <a title="LinkedIn" href="http://linkedin.com/in/{{ site.linkedin }}"><i class="fa fa-linkedin"></i></a>
    {% endif %}
    {% if site.stackoverflow %}
	  <a title="Stack Overflow" href="http://stackoverflow.com/{{ site.stackoverflow }}"><i class="fa fa-stack-overflow"></i></a>
    {% endif %}

    {% if site.pgp_url %}
      <a title="PGP" href="{{ site.pgp_url }}"><i class="fa fa-lock"></i></a>
    {% endif %}
    </h4>
</div>
